/*Global Variables, Styles, and Reset*/
:root{
    --main-background-color: rgb(255, 207, 207);
    --secondary-background-color: rgb(253, 179, 179);

    --element-color-lightest: rgb(255, 207, 207);
    --element-color-light: rgb(252, 164, 164);
    --element-color-medium: rgb(255, 118, 118);
    --element-color-dark: rgb(204, 78, 78);
    --element-color-darkest: rgb(134, 36, 36);

    --font-main: cursive, Geneva, Tahoma, sans-serif;

    --spacing-small: 0.5rem;
    --spacing-med: 1.5rem;
    --spacing-large: 2.5rem;
}

body {
    font-family: var(--font-main);
    line-height: 1.5;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--spacing-med);
}

/* Navigation Bar Classes*/
.navbar {
    position: fixed;
    background: rgba(255, 255, 255, 0.95);   
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar .links {
    list-style: none;
    display: flex;
    gap: 70px;
}

/*General Section Classes*/
.section-title {
    font-family: var(--font-main);
    font-size: clamp(2.5rem, 2.5vw, 3rem);
    text-align: center;
    color:black;
}

.section-spacer {
    height: 10px;
    width: 400px;
    border-radius: 10rem;
    margin: 0 auto var(--spacing-large);
    background-color: var(--element-color-darkest);
}

/*Profile Classes*/
.profile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--main-background-color);
}

.profile .container {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
}

.profile-image-area {
    margin-bottom: 50px;
}

.profile-photo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 6px solid var(--element-color-darkest);
    border-radius: 10rem;
}

.profile h1 {
    font-family: var(--font-main);
    font-size: clamp(2.5rem, 2.5vw, 3rem);
}

.profile p {
    font-family: var(--font-main);
    font-size: clamp(1.5rem, 2.5vw, 2rem);
}

/*About Me Classes*/
.about-me {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-background-color);
    padding-bottom: 100px;
}

/*Coursework Classes*/
.coursework {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-background-color);
}

.coursework-links {
    list-style: none;
    display:grid;
    grid-template-columns: repeat(3, 300px);
    gap: var(--spacing-small);
    margin-top: var(--spacing-med);
    padding: 0;
}

.coursework-links li {
    align-items: center;
    padding: var(--spacing-small) var(--spacing-med);
    background: rgb(214, 252, 255);
    text-decoration: none;
    color: black;
    border-radius: 2rem;
    border: 3px solid;
    font-size: 1.15rem;
    font-weight: 600;
    text-align: center;
}

.coursework-category {
    margin-bottom: var(--spacing-med);
    border-bottom: 2px solid;
    padding-bottom: var(--spacing-small);
}

.coursework-category:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.coursework-category .title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: var(--spacing-med);
}

.content-card {
    background: rgb(251, 196, 157);
    border: 1px solid;
    border-radius: 1rem;
}

/*Interests*/
.interests {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-background-color);
}